In [1]:
import numpy as np
import pandas as pd
import scipy as sc

import random

from sklearn.preprocessing import LabelEncoder, StandardScaler

In [2]:
data_init = pd.read_excel("C:/Users/Berezina.Darya/Documents/GitHub/Sberbank/total4.xlsx")

In [2]:
data_init = pd.read_excel("/Users/daber/Projects/Sberbank/total4.xlsx")

In [3]:
cian = pd.read_csv("C:/Users/Berezina.Darya/Documents/GitHub/Sberbank/cian_prices", header=None, sep=";", 
                   names=["sub_area", "avp", "growth"])

In [3]:
cian = pd.read_csv("/Users/daber/Projects/Sberbank/cian_prices", header=None, sep=";", 
                   names=["sub_area", "avp", "growth"])

In [4]:
cian.head()

         sub_area       avp  growth
0       Ajeroport   221 317     0.9
1  Akademicheskoe   213 748     0.4
2    Alekseevskoe   213 848     0.6
3    Altuf'evskoe   151 306    -1.3
4           Arbat   526 173     7.2

In [5]:
cian.avp = cian.avp.apply(lambda x: int(str(x).replace(" ", "")))

In [6]:
data = data_init.copy()
data["price_m"] = data.price_doc / data.full_sq
data["month"] = [int((d[:4])+(d[5:7])) for d in data.timestamp.values]
data["year"] = [int(d[:4]) for d in data.timestamp.values]
data["expl"] = -data.build_year + data.year

In [7]:
to_take = ["id", "full_sq", "life_sq", "floor", "max_floor", "build_year", "num_room",
          "state", "sub_area", 'kitch_sq','metro_min_avto',"month", "material", "price_doc", "price_m",
          "year", "expl", "kindergarten_km", "school_km", "public_transport_station_km"]

In [8]:
df = data[to_take].reset_index(drop=True)

In [9]:
df = df.merge(cian, on="sub_area")

In [10]:
df["coef"] = df.avp / np.unique(df.avp).mean()
df["pma"] = df.price_m / df.coef

In [11]:
df.head()

,id,full_sq,life_sq,floor,max_floor,build_year,num_room,state,sub_area,kitch_sq,...,price_m,year,expl,kindergarten_km,school_km,public_transport_station_km,avp,growth,coef,pma
0,1,43.0,27.0,4.0,9.0,1974.0,2.0,2.0,Bibirevo,6.0,...,136046.511628,2011,37.0,0.145700,0.177975,0.274985,154149,-1.6,0.864001,157460.989574
1,8,44.0,NaN,5.0,9.0,1974.0,2.0,NaN,Bibirevo,6.0,...,45454.545455,2011,37.0,0.134365,0.581511,0.254814,154149,-1.6,0.864001,52609.343836
2,33,38.0,34.0,2.0,NaN,NaN,NaN,NaN,Bibirevo,NaN,...,128947.368421,2011,NaN,0.151205,0.295021,0.054883,154149,-1.6,0.864001,149244.401724
3,71,32.0,19.0,9.0,9.0,1975.0,1.0,2.0,Bibirevo,6.0,...,165625.000000,2011,36.0,0.121817,0.346549,0.167543,154149,-1.6,0.864001,191695.296602
4,103,44.0,28.0,4.0,9.0,1974.0,2.0,NaN,Bibirevo,6.0,...,135227.272727,2011,37.0,0.061154,0.595054,0.227483,154149,-1.6,0.864001,156512.797912

In [12]:
df2 = df.copy()
df2.fillna(0, inplace=True)
df2 = df2[df2.price_doc > 0].reset_index(drop=True)
df3 = df2.drop(["id", "sub_area", "price_doc", "price_m", "growth","month", "coef", "pma"],1)

In [13]:
ss = StandardScaler()
X = ss.fit_transform(df3)

In [14]:
def find_similar(ind):
    v = X[ind]
    r = []
    for i in range(len(X)):
        if i != ind:
            r.append((i,sc.linalg.norm(X[i]-v)))
    r.sort(key=lambda x: x[1], reverse=False)
    rr = []
    for i in range(10):
        rr.append(df2[["pma"]].loc[r[i][0]].values[0])
    rr.sort()
    
    best, std = 0, np.std(rr[:6])
    for i in range(1,len(rr)-6):
        if np.std(rr[i:i+3]) < std:
            best = i
            std = np.std(rr[i:i+6])

    return np.mean(np.array(rr[best:best+6]))*df2[["coef"]].loc[ind].values[0]

In [24]:
def find_similar(v):
    r = []
    for i in range(len(X)):
        r.append((i,sc.linalg.norm(X[i]-v)))
    r.sort(key=lambda x: x[1], reverse=False)
    rr = []
    for i in range(10):
        rr.append(df2[["pma"]].loc[r[i][0]].values[0])
    rr.sort()
    
    best, std = 0, np.std(rr[:6])
    for i in range(1,len(rr)-6):
        if np.std(rr[i:i+3]) < std:
            best = i
            std = np.std(rr[i:i+6])

    return np.median(np.array(rr[best:best+6]))*df4[["coef"]].loc[ind].values[0]

In [51]:
df2[df2.id == 27449]

,id,full_sq,life_sq,floor,max_floor,build_year,num_room,state,sub_area,kitch_sq,...,price_m,year,expl,kindergarten_km,school_km,public_transport_station_km,avp,growth,coef,pma
2148,27449,77.0,44.0,11.0,14.0,2011.0,3.0,3.0,Kuncevo,8.0,...,38961.038961,2015,4.0,0.076619,0.517121,0.114636,192025,0.3,1.076295,36199.205057

In [52]:
find_similar(2148)

196693.17417682742

In [54]:
39/196-1

-0.8010204081632653

In [294]:
df3.head()

,full_sq,life_sq,floor,max_floor,build_year,num_room,state,kitch_sq,metro_min_avto,material,year,expl,kindergarten_km,school_km,public_transport_station_km,avp
0,43.0,27.0,4.0,9.0,1974.0,2.0,2.0,6.0,2.590241,1.0,2011,37.0,0.145700,0.177975,0.274985,154149
1,44.0,0.0,5.0,9.0,1974.0,2.0,0.0,6.0,3.623270,1.0,2011,37.0,0.134365,0.581511,0.254814,154149
2,38.0,34.0,2.0,0.0,0.0,0.0,0.0,0.0,5.262578,0.0,2011,0.0,0.151205,0.295021,0.054883,154149
3,32.0,19.0,9.0,9.0,1975.0,1.0,2.0,6.0,3.914421,1.0,2011,36.0,0.121817,0.346549,0.167543,154149
4,44.0,28.0,4.0,9.0,1974.0,2.0,0.0,6.0,3.739761,1.0,2011,37.0,0.061154,0.595054,0.227483,154149

In [15]:
wrong = []

for i in range(len(df2)):
    if abs(df2.price_m.values[i] / df2.avp.values[i] - 1) > 0.4:
        wrong.append(1)
    else:
        wrong.append(0)
df2["wrong"] = wrong

In [182]:
inds = random.sample(list(df2[(df2.state > 0)&(df2.build_year > 0)&(df2.max_floor > 0)&(df2.wrong == 0)
                              &(df2.floor > 0)].index), 1000)

In [16]:
inds = list(df2.index)
inds = inds[-3000:]

In [17]:
%%time

p1, p2 = [], []

for ind in inds:
    p1.append(df2[["price_m"]].loc[ind].values[0])
    p2.append(find_similar(ind))

CPU times: user 24min 11s, sys: 6.57 s, total: 24min 17s
Wall time: 24min 20s

In [18]:
l = (np.log1p(np.array(p1)) - np.log1p(np.array(p2)))**2
np.sqrt((1/len(p1))*sum(l))

0.20853632159199187

In [242]:
0.19443164110479511

0.19948650567017986

In [ ]:
9,5 0.130 0.123 0.129
10,5 0.130 0.128 0.128
10,6 0.129 0.123 0.127

In [29]:
df4 = df.copy()
df4.fillna(0, inplace=True)
df4 = df4[df4.price_doc == 0].reset_index(drop=True)
df5 = df4.drop(["id", "sub_area", "price_doc", "price_m", "growth","month", "coef", "pma"],1)
test_inds = df4.id.values
ss = StandardScaler()
X0 = ss.fit_transform(df5)

In [30]:
%%time

p = []

for j in range(len(X0)):
    v = X0[j]
    p.append(find_similar(v))

KeyError: 'the label [30470] is not in the [index]'

In [ ]:
df5. *

In [ ]:
res = pd.DataFrame({"id": test_inds, "price_doc": })